[submodule "gsl"]
	path = gsl
	url = https://github.com/microsoft/GSL
[submodule "infint"]
	path = infint
	url = https://github.com/sercantutar/infint
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date
[submodule "constexpr-hash-map"]
	path = constexpr-hash-map
	url = https://github.com/karel-burda/constexpr-hash-map
